@import "tailwindcss";

:root {
  --background: #F8FAFC; 
  --foreground: #1E293B;
  
  --lex-dark: #0F172A;
  --lex-teal: #334155;
  --lex-soft: #64748B;
  --lex-bright: #0EA5E9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-lex-dark: var(--lex-dark);
  --color-lex-teal: var(--lex-teal);
  --color-lex-soft: var(--lex-soft);
  --color-lex-bright: var(--lex-bright);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  overflow-x: hidden;
  
  /* Strict mobile webapp enhancements */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}

/* Smooth custom layout scroll bars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F8FAFC;
}
::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 999px;
}